/* -- vars -- */
:root {
    --color1: rgb(50, 65, 210);
    --color2: rgb(25, 40, 110);
    --color3: rgb(105, 165, 255);
    --color4: rgb(80, 130, 200);
    --color5: rgb(55, 55, 55);
    --color6: rgb(80, 80, 80);
    --color7: rgb(45, 45, 45);
    --color8: rgb(20, 20, 20);
  }

/*--background--*/

#opal html {
    background-color: var(--color5);
}

/*--select menues--*/

#opal .work-label{
    color: white;
}

#opal .break-label{
    color: white;
}

#opal select {
    color: white;
    background-color: var(--color1);
    border-bottom: 5px solid var(--color2);
}

#opal select:hover, #opal select:focus{
    color: var(--color1);
    background-color: var(--color3);
    border-bottom-color: var(--color4);
  }

#opal .Go{
    background-color: var(--color1);
    color: white;
}

#opal .Go:hover{
    background-color: var(--color3);
}

/*--timer --*/

#opal .timer {
    background-color: var(--color6);
}

#opal .actual_timer {
    color: var(--color8);
}

/*--timer config--*/

#opal .work_grind {
    background-color: var(--color6);
    color: white;
}

#opal .work_grind:active{
    background-color: var(--color7);
}

#opal .break_time {
    background-color: var(--color6);
    color: white;
}

#opal .break_time:active {
    background-color: var(--color7);
}

#opal .selected{
    background-color: var(--color7);
  }

#opal .replay{
    color: var(--color1);
}

#opal .restart_timer {
    background-color: transparent;
}

#opal .play_arrow {
    color: var(--color1);
}

#opal .start_timer {
    background-color: transparent;
}

#opal .pause {
    color: var(--color1);
}

#opal .pause_timer {
    background-color: transparent;
}

/*--theme buttons--*/

#opal .theme-text {
    color: var(--color1);
}