
/* ----------------------- VARIABLES -------------------------- */
:root {
  --color1: rgb(50, 65, 210);
  --color2: rgb(25, 40, 110);
  --color3: rgb(105, 165, 255);
  --color4: rgb(80, 130, 200);
}

/* --------------------------- BACKGROUND --------------------------- */
html {
  background-color: rgb(55, 55, 55);
}


/*------------------------- HEADING -----------------------------*/
h1 {
    font-size: 50px;
    font-family: 'Ubuntu';
    position: relative;
    left: 2%;
}

img{
  padding:0;
  margin:0;
  width:200px;
}


/*------------------- SELECT MENUES ----------------------*/

select {
  width: 250px;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: var(--color1);
  border: none;
  border-bottom: 5px solid var(--color2);
  color: white;
  font-family: 'ubuntu';
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
}

.selectors {
  position: relative;
  left: 27.5%;
}

.break_dur {
  position: relative;
  left: 550px;
  bottom: 70px;
}

select:hover, select:focus{
  color: var(--color1);
  background-color: var(--color3);
  border-bottom-color: var(--color4);
}

select:focus ~ .drop-down{
  width: 20px;
  height: 20px;
  position: relative;
  left: 210px;
  bottom: 37px;

  --a: 1.5em;
  border-bottom: calc(0.866 * var(--a)) solid #ffffff;
  border-left: calc(var(--a) / 2) solid transparent;
  border-right: calc(var(--a) / 2) solid transparent;
  border-top: 0;
  height: 0;
  width: 0;
}

.drop-down {
  width: 20px;
  height: 20px;
  position: relative;
  left: 210px;
  bottom: 37px;

  --a: 1.5em;
  border-top: calc(0.866 * var(--a)) solid #ffffff;
  border-left: calc(var(--a) / 2) solid transparent;
  border-right: calc(var(--a) / 2) solid transparent;
  border-bottom: 0;
  border-radius: 15%;
  height: 0;
  width: 0;
}

*:focus {
  outline: none;
}
