
/* ----------------------- VARIABLES -------------------------- */
:root {
  --color1: rgb(50, 65, 210);
  --color2: rgb(25, 40, 110);
  --color3: rgb(105, 165, 255);
  --color4: rgb(80, 130, 200);
  --color5: rgb(55, 55, 55);
  --color6: rgb(80, 80, 80);
  --color7: rgb(45, 45, 45);
}

/* --------------------------- BACKGROUND --------------------------- */
html {
  background-color: var(--color5);
  font-family: 'ubuntu'
}

*:focus {
  outline: none;
}

/*------------------------- HEADING -----------------------------*/
h1 {
    font-size: 50px;
    font-family: 'Ubuntu';
    position: relative;
    left: 2%;
}

img{
  padding:0;
  margin:0;
  width:200px;
}


/*------------------- SELECT MENUES ----------------------*/

.selector_container{
  display:flex;
  flex-direction:column;
  width:600px;
}

.selector_label {
  display:flex;
  font-size: 20px;
  font-weight: 300;
  color: white;
  position: relative;
  display: inline-block;

}

.work_label {
  float: left;
}

.break_label {
  margin-left: 15px;
  float: left;
}

select {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: var(--color1);
  border: none;
  border-bottom: 5px solid var(--color2);
  color: white;
  font-family: 'ubuntu';
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.selectors {
  display:flex;
  
  position: relative;
  left: 30%;
  white-space: nowrap;
  margin-top: 0.5%;
}

.selectors > div {
  display: inline-block;
}

.work_dur {
  width: 12%;
  height: 50px;
}

.break_dur {
  width: 12%;
  height: 50px;
  position: relative;
  left: 10%;
}

select:hover, select:focus{
  color: var(--color1);
  background-color: var(--color3);
  border-bottom-color: var(--color4);
}

select:focus ~ .drop-down{
  width: 10%;
  height: 10%;

  --a: 1.5em;
  border-bottom: calc(0.866 * var(--a)) solid #ffffff;
  border-left: calc(var(--a) / 2) solid transparent;
  border-right: calc(var(--a) / 2) solid transparent;
  border-top: 0;
  height: 0;
  width: 0;
}

.drop-down {
  width: 10%;
  height: 10%;
  float: right;
  margin-top: 0%;

  --a: 1.5em;
  border-top: calc(0.866 * var(--a)) solid #ffffff;
  border-left: calc(var(--a) / 2) solid transparent;
  border-right: calc(var(--a) / 2) solid transparent;
  border-bottom: 0;
  border-radius: 15%;
  height: 0;
  width: 0;
}

.Go {
  width: 6%;
  height: 40px;
  border-radius: 50px;
  background-color: var(--color1);
  border: hidden;
  border-bottom: 10px;
  color: white;
  font-family: 'ubuntu';
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  position: relative;
  left: 15%
}

.Go:hover {
  background-color: var(--color3);
}


/*--------------------------------- TIMER --------------------------------*/

.timer {
  width: 50%;
  height: 600px;
  background-color: var(--color6);
  position: relative;
  left: 25%;
  margin-top: 5%;
  border-radius: 5%;
}

.work_grind {
  width: 15%;
  height: 7%;
  position: relative;
  left: 25%;
  top: 7%;
  font-family: 'ubuntu';
  font-size: 25px;
  border: none;
  border-radius: 5%;
  background-color: var(--color6);
  color: white;
}
.work_grind:active{
  background-color: var(--color7);
  top: 8%;
}

.break_time {
  width: 16%;
  height: 7%;
  position: relative;
  left: 40%;
  top: 7%;
  font-family: 'ubuntu';
  font-size: 25px;
  border: none;
  border-radius: 5%;
  background-color: var(--color6);
  color: white;
}
.break_time:active{
  background-color: var(--color7);
  top: 8%;
}

.selected{
  background-color: var(--color7);
}




/* ------------------------------ TIMER CONFIG --------------------------- */

.play_arrow {
  color: var(--color1);
  font-size: 125px;
}

.start_timer {
  background-color: transparent;
  border: none;
  width: 100px;
}